.c-btn--highlight{
    a{
        display: block;
        border-radius: 5px;
        height: 68px;
        width: 290px;
        background-color: #2498b3;
        color: #fff;
        font-size: 1.7rem;
        margin: 22px auto 8px;
        padding: 24px 0;
    }
}